body{
  overflow-x: hidden;   
}

.commentPush{
  /*border-left: thick solid black; */
  /*border-bottom: thin solid black;  */
  border-top: thin solid black; 
}

.commentHold {
  border-left: thin solid black;
  /*border-top: thin solid black;*/
}

span.lineholder{
  width: 20px;
}

p.commentBlock{
    margin: 0px;
}

h5 {
  margin-top: 0;
}

.header {
  background-color: #CEE3F8;
}

div.commentsDiv{
  min-width: 500px;
  height: 500px
}

div.textDiv {
  height: 75%;
  overflow-y: scroll; 
  overflow-x: hidden; 
}

div.commentPush {
  min-height: 22px;
  background-color: orangered;
}

div.commentForm {
  height: 25%;
}

ul#topRedditThreads {
  list-style-type: none;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul#topRedditThreads > li:hover {
  border: thin solid red
} 

#showpic {
  top: -5%;
  right: 49.25%;
  outline: none;
}

#showpic > .fade {
   background-repeat: no-repeat;
   background-size: contain;
   background-color: white;
}

#imagehole{
  height: 100%;
  width: 100%;
}
